<style type="text/css">
<!--
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 36px;
}
-->
</style>
{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 
	<h1 align="center" class="Estilo1">Sitio De Noticias Ixtapaluca </h1>
{% endblock %}

{% block contenido %}
  <p>&nbsp;</p>
  <div align="center">
    <table width="100%" align="right" >
      <tr>
	  <td width="33%"><div align="justify">
	    <p><img src="../static/img/logo.png" width="356" height="190"></p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
		<p>&nbsp;</p>
	    
	    </div></td>
        <td width="53%" bgcolor="#FFF8DC"><p align="justify" class="Estilo24">Misión</p>
          <p align="justify" class="Estilo25">Ser un medio de difusión con el fin de contribuir al   crecimiento, desarrollo y fortalecimiento de nuestra comunidad en sus   diversos ámbitos a través de un periodismo de excelencia, el mejor   servicio y un alto sentido de ética personal y profesional por parte de   todo el equipo que integra el Sitio De Noticias Ixtapaluca.</p>
          <p align="justify" class="Estilo24">Visión</p>
          <p align="justify" class="Estilo25">Ser un sitio confiable y de excelencia, cuyos contenidos   periodísticos sean los mejores, basándose siempre en un   trabajo de calidad y responsabilidad para nuestros lectores.</p>
          <p align="justify" class="Estilo25">Comprometer al equipo de trabajo para preservar, difundir y laborar con los valores que   rigen este sitio, tales como la responsabilidad, lealtad, ética, profesionalismo, comunicación,   confianza, sinceridad y c<span class="Estilo25">ompromiso; elementos que sin duda, permiten el   desarrollo y crecimiento de este medio informativo.</span></p>
          <p align="justify" class="Estilo24">Objetivos </p>
          
          <p align="justify" class="Estilo25">Promover y difundir tradiciones y talento de nuestra comunidad principalmente la cultura       en sus más amplios matices y expresiones:</p>
          <p align="justify" class="Estilo25">
          <ul>
            <ul>
              <li>Impulsar el hábito de lectura, ya que con ello  se aprende y se despierta la imaginación</li>
              <li>Desarrollar en el lector la capacidad crítica y  analítica sobre los contenidos y noticias mostrados en el sitio </li>
              <li>Fomentar los valores morales que rigen el sitio, pues son éstos los que sustentan nuestro prestigio como  responsable, honesto y serio</li>
            </ul>
          </p>
          <p align="justify" class="Estilo24">Valores</p>          
          <p align="justify" class="Estilo25"> Son aquello en lo que creemos, son los hitos internos que orientan nuestro trabajo.
            En nuestro caso, los valores brindan al sitio de noticias dirección y propósito, cualidades que definen su éxito al conferirle “valor de marca”.
            Los valores periodísticos diferencian al Sitio De Noticias Ixtapaluca de los demás medios impresos y electrónicos.
            
            Criterio editorial. Un valor que requiere pericia y comprensión para presentar la información.
            
            Integridad. Un valor que hace énfasis en que el contenido sea fiable, exacto y fidedigno.
            
            Diversidad. Un valor cuyo mandato es incluir a todas las voces.
            
            Liderazgo y participación en la comunidad. Este valor asegura que el sitio desempeñe un papel clave para enmarcar problemas comunitarios importantes, comprometer a las personas en dichos problemas y conectar los ciudadanos con los problemas.
            
          </p>
			  
			  
        </td>
        <td width="14%"><div align="justify"></div></td>
      </tr>
    </table>
	
{% endblock %}

